/*
#bfbfbf - fundo
#592608 - desenho menu hamburguer
*/
body
{
    background-color: #B4BEC9;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.textsLeft
{
    white-space: pre-line;
    top: calc(27vw + 30px);
    position: absolute;
    z-index: 0;
    left: 5px;
}

.textsRight
{
    padding-top: calc(1% + 20px);
    position: absolute;
    top: 0;
    margin-left: 34%;
    z-index: 0;
}

.verticalLine
{
    height: 170vh;
    position: absolute;
    left: 33%;
    border-left: 6px solid black;
    top: 0;
}

.img_me
{
    height: 24vw;
}

.fixeds
{
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #000633;
    background-position: center;
    margin: -8px;
    margin-bottom: 10px;
    border: 0;
    color: #4c40d8;
    position: fixed;
    width: 100%;
    font-size: calc(1.1vw + 12px);
}

.top_bar
{
    height: 65px;
}

.bottom_bar
{
    bottom: -10px;
    height: 30px;
}

.getOutFixed
{
    padding-bottom: 80px;
}
