
body
{
    background-color: #B4BEC9;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}



.img_me
{
    height: 30vw;
}

.fixeds
{
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #000633;
    background-position: center;
    margin: -8px;
    margin-bottom: 10px;
    border: 0;
    color: #4c40d8;
    position: fixed;
    width: 100%;
    font-size: calc(1.1vw + 16px);
}

.top_bar
{
    height: 65px;
}

.bottom_bar
{
    bottom: -10px;
    height: 40px;
}

.bottom_bar a
{
    transition: 0.4s;
    color: #4c40d8;
}

.bottom_bar a:hover
{
    background-color: #4c40d8;
    color: #000633;
    transition: 0.5s;
}

.bottom_bar a:active
{
    background-color: #4c40d8;
    color: #000633;
    transition: 0.5s;
}